<!DOCTYPE html>
<html>

<head>
  <title>issueProduct</title>
  <script src="/assets/jqery.min.js"></script>
  <link rel="stylesheet" href="/assets/css/main.css">
</head>


<body>

  <% if (!username) { %>
  <h3>Ты не залогинен чорт!</h3>
  <h1><a href="login">Вход</a></h1>
  <% } else{ %>
  <h4 id="user">Вход выполнен через учетную запись: <%=username %></h4>
  <% if (message) { %>
  <h4><%=message %></h4>
  <% } %>
  <form method="POST" action="product/issue">
    <h4>Выдать строительное изделие</h4>
    <input type="date" name="issueDate" placeholder="Дата выдачи изделия" required autofocus="" autocomplete="off" />
    <input type="number" name="quantityIssued" placeholder="Количество выданного изделия" required autofocus="" autocomplete="off" />
    <input type="number" name="price" placeholder="Цена" required autofocus="" autocomplete="off" />
    <input type="number" name="ProductId" placeholder="Id изделия" required autofocus="" autocomplete="off" />
    <input type="number" name="SectorId" placeholder="Id сектора" required autofocus="" autocomplete="off" />
    <input type="number" name="EmployeeId" placeholder="Id выдающего" required autofocus="" autocomplete="off" />
    <button type="submit">Выдать изделие</button>
  </form>

  <table>
    <tr>
      <th>Id изделия</th>
      <th>Наименование</th>
      <th>Id Сектора</th>
    </tr>

    <% for (let product of products) { %>
    <tr>
      <td><%=product.id %></td>
      <td><%=product.nomination %></td>
      <td><%=product.SectorId %></td>
    </tr>
    <%} %>

  </table>

  <table>
    <tr>
      <th>Id выдающего</th>
      <th>Фамилия</th>
      <th>Имя</th>
      <th>Отчество</th>
    </tr>

    <% for (let employee of employees) { %>
    <tr>
      <td><%=employee.id %></td>
      <td><%=employee.surname %></td>
      <td><%=employee.name %></td>
      <td><%=employee.middleName  %></td>
    </tr>
    <%} %>
  </table>
  <h1><a href="/">На главное меню</a></h1>


  <% } %>
</body>


</html>