<!DOCTYPE html>
<html>

<head>
  <title>products</title>
  <script src="/assets/jquery.min.js"></script>
  <link rel="stylesheet" href="/assets/css/main.css">
</head>

<body>

  <% if (!username) { %>
  <h3>Ты не залогинен чорт!</h3>
  <h1><a href="login">Вход</a></h1>
  <% } else{ %>
  <h4>Вход выполнен через учетную запись: <%=username %></h4>
  <table>
    <caption>Строительные изделия</caption>
    <tr>
      <th>Номер</th>
      <th>Наименование</th>
      <th>Количество</th>
      <th>Брак</th>
      <th>Описание</th>
      <th>Id Сектора</th>
    </tr>

    <% for (let product of products) { %>
    <tr>
      <td><%=product.id %></td>
      <td><%=product.nomination %></td>
      <td><%=product.quantity %></td>
      <td><%=product.defect %></td>
      <td><%=product.description %></td>
      <td><%=product.SectorId %></td>
    </tr>
    <%} %>

  </table>
  <h1><a href="/">На главное меню</a></h1>

  <% } %>
</body>

</html>